spring:
  jackson:
    serialization:
      write-dates-as-timestamps: false
  application:
    name: api
  datasource:
    url: jdbc:h2:tcp://localhost/~/hcg0127
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        show_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  data:
    redis:
      host: localhost
      port: 6379
logging:
  level:
    org.hibernate.sql: debug
springdoc:
  swagger-ui:
    path: /docs
app:
  current-cohort:
    generation: 11