spring:
  application:
    name: api
  datasource:
    url: jdbc:h2:tcp://localhost/~/hcg0127
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
  data:
    redis:
      host: localhost
      port: 6379
logging:
  level:
    org.hibernate.sql: debug
springdoc:
  swagger-ui:
    path: /docs